.aira-hope {
  --background-details: #1c2834;
  --background: #131c24;
  --keywords : #50e191;
  --foreground: #e9c46a;
  --function: #C8B6FF;
  --comment: #909cc3;
  --grayish: #404657;
  --others: #63acff;
  --cyan: #43dad7;
  --orange: #ff916e;
  --red: #ef4e5b;
  --violet-2: #b69eff;
}

maydo {
  --bg: #090819;
}
