:root {
    --background: #1C2834;
    --black-2: #131C24;
    --orange: #FF916E;
    --green: #50E191;
    --green-2: #35AD68;
    --yellow: #E9C46A;
    --violet: #C8B6FF;
    --grayish-blue: #909CC3;
    --red: #E63946;
}
